body{
  font-family : "Calibri";
}

h1
{
  background-color: #3178ae;
  color:white;
  font-size : 1.3em;
  font-weight: bold;

}

#navbar
{
  background-color: #3178ae;
  color:white;
}

#navbar a
{
  color:white;
}

#coordonnees
{
  background-color: #3178ae;
  color:white;
  font-weight: lighter;
}

footer
{
  background-color:  #3178ae;
}
